/*----Navbar----*/

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #000;
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}



.main-image {
    background-image: url("../images/mob3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
}
 
@media(min-width: 992px) {
    .main-image {
    background-image: url("../images/desktop_img.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 960px;
}
}

@media (min-width: 1281px) {
    .main-image {
    background-image: url("../images/desktop_img.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
}