/*----Navbar----*/

.navbar {
    color: #fafafa;
    margin-bottom: 0;
    width: 100%;
    background-color: #000;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    font-family: "Exo", sans-serif;
    font-size: 1.3em;

}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*----/Navbar----*/

.main-image {
    margin: 0;
    padding: 0;
    background-image: url("../images/mob.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
    border-bottom: groove 4px;
    border-color: #fafafa;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.row {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.col-12 {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.online-column {
    margin: 0;
    padding: 0;
}

h4 {
    font-family: "Exo", sans-serif;
    color: #FF6161;
    margin: 0;
    padding-left: 30px;
    padding-top: 20px;
}

/*----Social Icons----*/

.social-icons {
    padding-top: 20px;
    height: 20px;
    margin: 0;

}

.social-icon {
    margin: 0;
    height: 30px;
    padding: 10px;
    color: #E1E1E1;
}

.social-icon {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.social-icon:hover {
    color: #FF2F2F;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

/*----/Social Icons----*/

.home-page {
    margin: 0;
    padding: 0;
    background-color: #000;
}

/*----Tour----*/

.tour-page {
    background-image: url("../images/wall_mob.jpg");
    height: 760px;
    margin: 0;
    padding: 0;

}

.page-title {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    font-family: "BioRhyme Expanded", sans-serif;
    font-weight: bold;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.5);
}

.aboutus-container {
    margin: 0;
    padding-top: 10px;

}

.tour-image {
    background-image: url("../images/pf_artists.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 60px 0 0 0;


}

.tour-list-city {

    font-size: 12px;
    list-style: none;
}

.tour-list-date {

    font-size: 12px;
    list-style: none;
}



.tour-page ul {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    line-height: 30px;
    font-size: 20px;



}

.tour-page ul li {
    margin: 0;
    padding: 20px 0;
    font-family: "Exo", sans-serif;
}

.ticket-button {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;

}

.ticket-button:hover {
    color: #404040;
    font-weight: 700;
    letter-spacing: 4px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

/*----About Us----*/

.member-card {
    padding: 20px 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}



.member-row {
    padding: 50px 0;
    background-image: url("../images/member.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-top {
    width: 100%;
    height: 360px;

}


/*----Gallery----*/

.gallery-row {
    padding-left: 0;
    padding-top: 20;
    margin: 0;
    height: 860px;
    background-image: url("../images/gallery_wall.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


.page-title-gallery {

    text-align: center;
    padding-top: 40px;
    font-family: 'BioRhyme Expanded', serif;
    font-weight: bold;
    font-size: 2em;

}

#mycarousel {
    margin: 30px 0;
    padding: 0;
    width: 100vw;
    height: 350px;
    border: solid black 1px;

}

#mycarousel img {
    width: 100vw;
    height: 400px;


}

.carousel-slide {
    margin: 30px 0;
    padding: 0;
}

/*----Gallery Images----*/

.gallery-image-row-1 {
    display: inline;
    display: flex;
    padding: 30px;
    margin-bottom: 30px;


}

.gallery-image-row-2 {
    display: inline;
    display: flex;
    padding: 30px;
    margin-top: 20px;
}

/*----Media----*/

.page-title-media {
    color: #fafafa;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'BioRhyme Expanded', serif;
    font-weight: bold;
    font-size: 2em;
}

.media-row {

    height: 1080px;
    background-image: url("https://images.pexels.com/photos/580679/pexels-photo-580679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
}

.media-text {
    font-family: "Exo", sans-serif;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #fafafa;
}

/*----/Media----*/

.channel-links {

    margin: 0;
    padding-top: 50px;
    text-align: center;

}

.channel-links h3 {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
}


/*----Hire Us----*/

.hireus-container {
    width: 100vw;
    background-image: url("../images/wedding.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    margin: 0;
    padding: 0;
}

.hire-us-text h3 {
    margin: 0;
    padding-top: 30px;
    padding-left: 30px;
    font-family: "Exo", sans-serif;
    font-size: 2em;

}

/*----/Hire Us----*/

/*----Footer----*/

footer {
    margin: 0;
    padding: 0;

}

.footer-text {
    color: #7A7A7A;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 50px 0;
}


.social-icons-footer {

    padding-top: 20px;
    height: 20px;
    margin: 0;
}

.social-icon-footer {
    display: inline-block;
    height: 30px;
    padding: 10px;
    color: #000;
}

.social-icon-footer {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.social-icon-footer:hover {
    color: #FF2F2F;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

@media(max-width: 991px) {

    .ticket-button {
        font-weight: bold;
        border-radius: 8px;

        display: table;
        margin: 0 auto;
    }
    .tour-image {
        display: none;
    }

    .tour-title {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    #mycarousel img {
        width: 100vw;
        height: 600px;
    }


}

@media(min-width: 992px) {
    .main-image {
        background-image: url("../images/cover_md.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 960px;
    }

    .ticket-button {
        font-weight: bold;
        border-radius: 8px;
        width: 160px;
        padding-right: 100px;
        text-align: center;
    }
    .tour-image {
        display: none;
    }
    .gallery {
        margin: 0;
        padding: 0;
        background-image: url("../images/image_3.jpg");
        opacity: 0.5;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .gallery-images {
        display: none;
    }

    .tour-page ul {
        margin: 0;
        padding-left: 0;
        padding-right: 20px;
        padding-top: 30px;
        line-height: 30px;
        font-size: 30px;
    }

    .tour-list-city {

        font-size: 16px;
        list-style: none;
    }

    .tour-list-date {
        margin-left: 50px;
        font-size: 16px;
        list-style: none;
    }

    .media-row {

        height: 1080px;
        background-image: url("../images/media_bg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
      .carousel-item img {
        height: 600px;
    }
    
}

    @media(min-width: 1281px) {
        .main-image {
            background-image: url("../images/desktop_img.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100vh;
        }
        .tour-list {
            font-size: 16px;
            list-style: none;
            margin-left: 50px;
        }

        .ticket-button {
            font-weight: bold;
            justify-content: center;

        }
        .tour-image {
            display: inline-block;
        }

        .gallery {
            background-image: url("../images/image_3.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .gallery-image img {
            height: 300px;
            width: 400px;
            margin-left: 30px;
        }

        .tour-page ul {
            margin: 0;
            padding-left: 0;
            padding-right: 20px;
            padding-top: 30px;
            line-height: 30px;
            font-size: 30px;
        }

        .tour-list-city {
            padding-left: 100px;
            font-size: 16px;
            list-style: none;
        }

        .tour-list-date {
            margin-left: 50px;
            font-size: 16px;
            list-style: none;
        }

        .media-row {

            height: 1080px;
            background-image: url("https://images.pexels.com/photos/580679/pexels-photo-580679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .carousel-item img {
        height: 600;
    }
    }
